<!DOCTYPE html>
<html lang = "en">

    <head>
        <meta charset = "UTF-8">
        <title>Recipe App</title>
    </head>

    <body>
        <% recipes.forEach(function(recipe) { %>
            <a href = "/recipe/<%= recipe.id %>"><%= recipe.title %></a>
        <% }); %>
        <br>
        <a href = "/create"><button>CREATE</button></a>
    </body>

</html>