<!DOCTYPE html>
<html lang = "en">

    <head>
        <meta charset = "UTF-8">
        <title>Recipe App</title>
    </head>

    <body>
        <a href = "/create"><button>CREATE</button></a>
    </body>

</html>