<!DOCTYPE html>
<html lang = "en">

    <head>
        <meta charset = "UTF-8">
        <title>Recipe App</title>
        <link rel = "stylesheet" href = "display.css">
    </head>

    <body>
        <table>
            <th><td>Saved Recipes</td></th>
            <% recipes.forEach(function(recipe) { %>
                <tr><td><a href = "/recipe/<%= recipe.id %>"><%= recipe.title %></a></td></tr>
            <% }); %>
        </table>
        <a href = "/create"><button>CREATE</button></a>
    </body>

</html>